.mainContainer {
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 5px 0 5px 0;
}

.buttomSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.buttonRemove {
  width: 210px;
}

.iconRemove {
    width: 20px;
    height: 20px;
}

.removeSection {
    margin-top: 5px;
}
